html,body{
    background-color: rgb(7, 0, 41);
    color:white;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* to be removed later */


/* Main page container starts here here */
.total-page-container{
display: grid;
grid-template-columns: 1fr;
}

.top-half-container{
    
}

/* header area starts here */
header{
    display:flex;
    flex-direction: row;
    
    justify-content: space-between;
    padding:.5rem;
}

.banner-container{
    margin-left: 1rem;
    padding:.5rem;
    background-blend-mode:overlay;
    width:5rem;
    height:2rem;
}

.netflix-banner{
width:100%;
}

.languageAndSignInButton{
    display:flex;
    flex-direction: row;
    column-gap: 1rem;
    margin-right:1rem;
    padding:.5rem;
}

.signIn-button{
background-color: red;
padding:.5rem 1rem;
border-radius: 5px;
font-weight: 600;
}

.language-container{
    padding:0rem;

}
select{
    height:100%;
    background-color:rgba(0, 0, 0, 0.2);
    color:white;
    border-radius: 5px;
    
}


/* text section container */
.text-section-container{
    margin:0 1.5rem 3rem 1.5rem;
    padding:0 1rem;
    background: linear-gradient(
        to bottom,
        rgba(7, 0, 41,0.6),
        rgba(7, 0, 41,0.7)),
        url('./photos/netflix.jpg');
        border-radius: 1rem;
}

.main-text{
font-size: 2.4rem;
margin:1rem 0rem 0rem 0rem;
padding-top: 2rem;
}

.subtextsContainer{

}

.email-and-login-container{
    border-radius: 5px;
    box-sizing: border-box;
    padding:0.5em 0em 1em 0em;

}

.watch-anywhere{

}

.ready-to-watch{
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2rem;
}

.card-text-container{
    margin: 0 2rem;
}

.card-text-container h2{
    font-size: 1.7rem;
}
.card-text-container h4{
    font-size: 1rem;
    font-weight: 100;
}

.input-container{
margin:1rem 0px;
outline:1px solid white;
}

.email-input{
background-color: rgba(14, 13, 13,0.2);
color:white;
font-size: 1rem;
padding:1rem;
border:none;
border-radius: 5px;

width:100%;

}
.get-started-button{
    background: linear-gradient(to right,rgb(214, 4, 4),red,rgb(207, 1, 1));
    font-size:1.2rem;
    color:white;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
}

.button-container{
margin-bottom: 2rem;
}
/* cards container styling */
.cards-container{
display:grid;
grid-template-columns: 1fr;
border-radius: 5px;
background-color:hwb(250 0% 79% / 0.89);
margin:0 2rem;
}

.card{
margin:1rem 0rem;
padding-bottom: 1rem;
min-height: 10rem;
/* width:100%; */
display:flex;
flex-direction: column;
border-bottom: 1px solid rgb(94, 93, 93);
box-sizing: border-box;

}

.card-image{
    width:100%;
}

hr{
    width:90%;
    height:0.1px;
}

/* Questtions and Footer Section */
.second-email-and-login-container{
    border:none;
    margin:2.5rem;
}

.faq{
    margin-top: 3rem;
}

.faq-heading{
    box-sizing: border-box;
    margin:1rem 3rem 1rem 3rem;
    box-sizing: 1px solid white;
    margin-left: 2.5rem;
}

.list-item{
    list-style: none;
    background-color: rgb(24, 24, 77);
    margin:.5rem 0;
    font-size: 1.1rem;
    margin:1rem 3rem 1rem 0rem;
    padding:1.5rem 1rem;
}

.extra-question{
    margin:5rem 2.5rem 3rem 2.5rem;
    color:rgb(185, 175, 175);

}

.contact-number{
    color:rgb(185, 175, 175);
}


/* footer and links */
.footer-link{
list-style: none;
margin:1rem 0rem;
text-decoration: underline;
color:rgb(185, 175, 175);
font-size:0.9em;
}

.footer-language-container{
    margin: 3rem 0 0 2.5rem;
}

#footer-select{
    background: rgba(0,0,0,0.5);
    padding:0.5rem 2rem;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.footer-Netflix-container{
    margin:3rem 0;
}

.footer-Netflix{
    margin-left: 2.5rem;
}

@media (min-width: 768px){
    .card{
        margin:1rem 0rem;
        padding-bottom: 1rem;
        min-height: 10rem;
        /* width:100%; */
        display:flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid rgb(94, 93, 93);
        box-sizing: border-box;
        
        }

.faq-links{
display: grid;
grid-template-columns: repeat(2, 1fr);
        }
}

@media (min-width: 960px){
    .card{
        margin:1rem 0rem;
        padding-bottom: 1rem;
        min-height: 10rem;
        /* width:100%; */
        display:flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid rgb(94, 93, 93);
        box-sizing: border-box;
        
        }

.faq-links{
display: grid;
grid-template-columns: repeat(3, 1fr);
        }
}

@media (min-width: 1290px){
    .card{
        margin:1rem 5rem;
        padding-bottom: 1rem;
        min-height: 10rem;
        /* width:100%; */
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(94, 93, 93);
        box-sizing: border-box;
        }

.faq-links{
display: grid;
grid-template-columns: repeat(4, 1fr);
        }

.card-text-container h2{
font-size: 3rem;
}
}